GROQ_API_KEY=
LOG_LEVEL=DEBUG

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
HUGGING_FACE_HUG_TOKEN=
PORCUPINE_ACCESS_KEY=

PYTHONPATH=.